// using variables 
$primaryColor : rgba(221,221,221,1);
$whiteColor : rgba(255,255,255,1);
$mainTextColor: rgba(19, 72, 128, 1);
$mainParagraphColor: rgba(72, 74, 76, 1);
$borderColor: rgba(19, 72, 128, 1);
//using mixins
@mixin probs ($theme:$primaryColor) {
    width: 100%;
    height: 100px;
    margin-top: -20px;
    background-color: $theme;
    border-radius: 5px 5px 5px 5px;
}
@mixin buttonOps {
    background-repeat: no-repeat;
    background-position: center;
}

body {
    margin: 0;
    padding: 0;
    width: 941px;
    height: 730px;
    font-family: 'Source Sans Pro', sans-serif;
}
#divHeader, #divFooter {
   
    @include probs;
    h1 {
        color: $whiteColor;
        text-align: center;
        padding-top: 25px;
    }
}

.sizeOne {
    width: 260px;
}
.sizeTwo {
    width: 120px;
}
.sizeThree {
    width: 180px;
}
.sizeFour {
    width: 220px;
}


#container {
    height: 420px;
    margin-top: 60px;
    margin-bottom: 60px;

     h3 {
        font-size: 32px;
        text-align: left;
        margin-top: 35px;
        color: $mainTextColor;
        font-weight: bolder;
    }

    p   {
        font-size: 18px;
        text-align: left;
        line-height: 26px;
        color: $mainParagraphColor;
        }
    }
    .slider {
        display: grid;
        float: left;
        margin-right: 19px;
        margin-left: -1235px;
        overflow: hidden;
    }

    .upperRow {
        display: inline-flex;
        overflow: hidden;
        position: relative;
        margin: 0;
        
        img {
            border-radius: 5px;
            margin-left: 10px;
            margin-bottom: 10px;
            display: block;
        }

        li {
            list-style-type: none;
            margin: 0;
        }

    }
    .lowerRow {
        display: inline-flex;
        margin-left: -190px;
        overflow: hidden;
        position: relative;
        margin-bottom: 60px;
        margin-top: 0;
        
        img {
            border-radius: 5px;
            margin-left: 10px;
            display: block;
        }
        li {
            list-style-type: none;
        }
    }
    .controls {
        display: grid;
        float: right;
        margin-left: 1811px;
        position: absolute;
        margin-top: 200px;

        button {
            width: 60px;
            height: 60px;
            margin-top: 10px;
            border: 1px solid $primaryColor;
            border-radius: 5px;
            padding: 22px 25px 22px 25px;
        }
        button:hover {
            border:1px solid $borderColor;
            cursor: pointer;
        }
        .left {
            background-image:url(../Images/arrow-gray-left.png);
            @include buttonOps;
            
        }
        .left:focus, .left:active {
            background-image:url(../Images/arrow-blue-left.png);
            border:1px solid $borderColor;

        }
        .right {
            background-image:url(../Images/arrow-gray-right.png);
            @include buttonOps;
        }
        .right:focus, .right:active {
            background-image:url(../Images/arrow-blue-right.png);
            border:1px solid $borderColor;
        }
    }

